<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328214108378-2oumqhpf37ia2qf4cll30klaj9toubpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328214108378-2oumqhpf37ia2qf4cll30klaj9toubpi</string>
	<key>API_KEY</key>
	<string>AIzaSyBXRJM5ML8mhVhkDm_ko_2PNEb_n6ORK20</string>
	<key>GCM_SENDER_ID</key>
	<string>328214108378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp.abong</string>
	<key>PROJECT_ID</key>
	<string>funchat-a0525</string>
	<key>STORAGE_BUCKET</key>
	<string>funchat-a0525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328214108378:ios:a1c0b19b1e531f64bf6de3</string>
</dict>
</plist>